name: CI

on:
  push:
    branches:
      - master
      - main
  pull_request:

permissions:
  contents: read

jobs:
  rust-checks:
    name: Cargo Check And Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2

      - name: Cargo check
        run: cargo check --locked

      - name: Cargo clippy
        run: cargo clippy --all-targets -- -D warnings
